/* Styles for highlighting active navbar item */
.nav-link.active {
    background-color: rgba(0, 0, 0, 0.1); /* Adjust transparency as needed */
}

.nav-link.active[aria-current="page"]  { /* Style for 'red' on home page */
    color: red !important;
}
/* styles.css */
.field-container {
    border: 1px solid #ccc; /* Adds a border */
    margin-left: 100px;   /* Spacing between fields */
    padding: 150px;         /* Internal padding */
}

.field-container label {
    font-weight: bold;     /* Make labels bold */
}
.field-container {
    max-height: 150px; /* Adjust as needed */
    overflow-y: auto;  /* Add a vertical scrollbar when needed */
}
